@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');  /*Imports Google font, Inter*/

body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
    height: 50px;
    align-items: center;
}

.header-inner {
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.links {
    display: flex;
    ;
}

.site-link {
    margin-right: 10px;
    color: gray;
}

.site-link.active {
    color: magenta;
    text-decoration: underline;
}

main {
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main-inner {
    width: 50%;
    height: 100%;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    background-color: rgba(0, 0, 0, .6);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    color: white;
}

h2 {
    font-weight: 500;
}