@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');  /*Imports Google font, Inter*/

body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    justify-content: center; /*moves elements to the center*/
    border-top: 2px solid black; /*adds line on top of header*/
    border-bottom: 1px solid rgba(0, 0, 0, .1); /*adds line on bottom of header*/
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1); /*adds a shadow at bottom border*/
    height: 50px; /*header height*/ 
    align-items: center; /*shifts elements down to midpt b/w border-top/bottom*/
}

.header-inner {
    width: 90%; /*separates the elements - they are stuck at center if w/o this */
    max-width: 1000px; /*sets limits to how wide elements are*/
    display: flex; /*moves the home/about/more to right side*/
    justify-content: space-between; /*spaces out the elements*/
    flex-direction: row; /*unsure of what this does*/
}

.links {
    display: flex; /*puts the links side-by-side*/
}

.site-link {
    margin-right: 10px; /*adds space b/w the links*/
    color: gray;
}

.site-link.active {
    color: magenta;
    text-decoration: underline;
}

main {
    height: calc(100vh - 50px); /*makes main element this height (stretches down to bottom of user's screen)*/
    width: 100%; /*full-width of screen*/
    display: flex; /*puts the 2 divs side-by-side w/o it, 1 on top of other*/
    flex-direction: row; /*not sure what this does*/
}

.main-inner {
    width: 50%;
    height: 100%;
}

.left {
    display: flex; /*allows website.com to move*/
    justify-content: center; /*moves website.com to center*/
    align-items: center; /*helps move it down center of middle of column*/
}

.right {
    background-color: rgba(0, 0, 0, .6);
    padding-left: 20px; /*adds space from left col edge*/
    padding-right: 20px; /*adds space from right col edge*/
    padding-top: 30px; /*adds space from top col edge*/
    color: white;
}

h2 {
    font-weight: 500;
}