body {
  background-color: black;
  color: white;
}

h1 {
  color: rgb(161, 30, 30);
  font-family: 'Allura', cursive;
    font-family: 'Oleo Script', cursive;
}

h2{
  color: chartreuse;
}

svg{
  display: block;
  max-width: 100%;
  height: auto;
}

/*Text sits on image even if you comment out the .container style*/
.container{
  position: relative;
    color: white;
    float: left;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.top-left {
  position: absolute; /*superimposes text on image*/
  top: 152px; /*moves text down*/
  left: 12px; /*moves text to right*/
}