body{
    background: conic-gradient(#f69d3c, #205267);
}

h1{
    font-size: 80px;
    color: rgb(255, 66, 255);
    text-align: center;
    transform: rotate(-137deg); /*this rotates the text*/
    margin-bottom: 42px;
}
.tag-line{
    text-align: right;
    font-size: 50px;
    color:rgb(43, 226, 67);
    text-decoration: line-through;
}

.fashion{
    font-size: 30px;
    color: darkkhaki;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.change{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(236, 16, 20);
    text-decoration: underline;
    font-size: 20px;
}

.alter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: floralwhite;
    text-decoration: overline;
}

.pants{
    border: 4mm ridge rgb(234, 246, 4);   
}

.one{
    width: 20%;
}

.update{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: lightseagreen;
}

.trends{
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-size: 24px;
}

.advance{
    text-shadow: forestgreen 3px 5px;
    float: right;
    font-size: 24px;
}