body{
  font-family: Arial, Helvetica, sans-serif;
}

.graphic {
  position: sticky;
  top: 20%;
  left: 70%;
  /* background: none; not working */
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  transition: all 10s ease-in-out;
  margin-left: 50px;
  /* mix-blend-mode: multiply; */
}

.text-holder{
  color: white;
}

#scrolly {
  display: flex;
  flex-direction: row;
  height: auto;
  position: relative;
}

section {
  flex-basis: 50%;
}

/*style the stations*/
.scroll-step {
  height: 500px;
  width: 360px;
  border: 3px dashed rgb(145, 0, 0);
  color: bisque;
  font-weight: 700;
  
}

.first{
  background: linear-gradient(to right,
        rgb(157, 128, 101) 20% 90%,
        rgb(224, 191, 131) 90% 10%);
}


/* .route{
    margin-left: 135px;
    position: sticky;
    height: 60%;
    width: 100%;
} */

body{
background-color: rgb(37, 32, 32);
/* background-image: url(images/train-track-svgrepo-com.svg); */
background-image: url(images/train-tracks.svg);
background-repeat: repeat-y; /*will repeat image vertically*/
background-size: 30%;
background-position: center;

}

p{
  font-size: 24px;
  margin: auto;
  text-align: center;
  color: rgb(14, 120, 14);
}

.f-train-path{
  mix-blend-mode: multiply; /*removes the whitespace behind image*/
  filter: saturate(6);
  height: 100vh;
}

/* .train-pic{
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: all 60s linear;

} */

.home-link{
    color: orange;
    font-size: 12px;
    left: 4px;
    position: sticky;
    z-index: 1; /*This will bring the element forward and place it on top of another element provided the two are on the same level (non-nested)*/
}

.home-link:hover{
    color: silver;
}

.stations{
    text-align: center;
}

.img-edit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sights{
    display: flex;
    flex-direction: column;
    
    font-size: 18px;
    align-items: center;
}


ul{
  list-style: none;
  text-align: center;
}

ul,a{
  color: indigo;
}

ul,a,img{
  margin: 3px;
}

ul,a:hover{
  color: silver;
}


/*space out the stops*/
.short-stop{
    margin-bottom: 130%;
}

.med-stop{
  margin-bottom: 180%;
}

.long-stop{
  margin-bottom: 300%;
}

.longest-stop{
  margin-bottom: 500%;
}

.overlay-text {
  display: flex;
    flex-direction: row;
    height: auto;
    position: relative;
  top: 20%;
  left: 0%;
  transform: translate(5%, -10%);
  animation-duration: 10s;
  animation-name: slidein;
}

.intro{
  color: red;
  animation: 2s linear 5s infinite alternate slidein;
  text-transform: uppercase;
  font-size: 20px;
}

.intro.visible{
  opacity: 1;
}

.intro,
.end {
  height: 200px;
}

.end {
  margin-top: 200px;
}



@keyframes slidein {
  from {
    top: 10%; /*div container starts from 10% at top of page */
    left: 50%; /*div moves to the left to the middle of the screen*/
    margin-right: 25%; /*moves the div to the left [ use 50% to move to middle of the screen]*/
  }

  to {
    bottom: 50%; /*div moves to the bottom of the screen*/
  }
}




@media (max-width: 1200px) {
  img {
      max-width: 100%;
      max-height: 100%;
  }

  p {
      font-size: 16px;
  }

  ul,
  li {
      font-size: 10px;
  }

  a{
      font-size: 18px;
  }
}