* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

img {
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.test-image {
    left: 10%;
    top: 25%;
}

/*Trying to style the images but the images don't show up on DOM*/
.img-links{
    position: relative;
    border: 3px solid rgb(153, 88, 109);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 440px;
}
