img{
    position: sticky;
    height: 100%;
    width: 100%;
}

.body-tag{
    background-color: black;
    color: white;
}

.home-link{
    color: orange;
    font-size: 12px;
    position: relative;
    left: 10px;
}

.home-link:hover{
    color: silver;
}
