img{
    width: 100%;
    height: 100%;
    position: sticky;
}

body{
    background-color: black;
}

.home-link{
    display: block;
    justify-content: center;
    color: orange;
    font-size: 12px;
}

.home-link:hover{
    color: silver;
}