* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.outer-cont {
    background: rgb(233, 101, 101);
    border: 3px dashed black;
    width: 125%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*need equal width and height to create a square*/
.square {
    background: rgb(250, 254, 137);
    width: 150px;
    height: 150px;
    margin: 15px;
}

.inner.cont{
    border: 2px solid cornflowerblue;
}

/*Need width, height, and border-radius to create a circle*/
.circle{
    background-color: greenyellow;
    width: 150px;
    height: 150px;
    border-radius: 80%; /*circle requires radius*/
    margin: 15px;
}

/*Must set width/height to 0 and adust border bottom, left, & r (transparent) to create triangle*/
.triangle-down{
    width: 0;
    height: 0;
    border-bottom: 150px solid rgb(9, 42, 250);
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    margin: 15px;
}

/*set w/h = 0, border-top has to be biggest & border-left/right should be transparent*/
.triangle-up{
    width: 0;
    height: 0;
    border-top: 150px solid pink;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    margin: 15px;
}

/*w/h = 0, make border-left biggest, border-bottom = top of tri is wide, border-top = bottom of tri is wide */
.triangle-left-up{
    width: 0;
    height: 0;
    border-left: 150px solid orange;
    border-right: 75px solid transparent;
    border-top: 150px solid transparent;
    margin: 15px;
}

/*w/h = 0, make border-left biggest, border-bottom = top of tri is wide,  */
.triangle-left-down {
    width: 0;
    height: 0;
    border-left: 150px solid forestgreen;
    border-right: 75px solid transparent;
    border-bottom: 150px solid transparent;
    margin: 15px;
}



/*w/h = 0, make border-right biggest, border-bottom has to be wide*/
.triangle-right-up{
    width: 0;
    height: 0;
    border-right: 150px solid silver;
    border-left: 75px solid transparent;
    border-bottom: 150px solid transparent;
    margin: 15px;
}

/*w/h = 0, make border-right biggest, border-top has to be wide*/
.triangle-right-down {
    width: 0;
    height: 0;
    border-right: 150px solid lavender;
    border-left: 75px solid transparent;
    border-top: 150px solid transparent;
    margin: 15px;
}

/*Must have diff width/height*/
.rectangle{
    background-color: indigo;
    width: 50px;
    height: 150px;
    margin: 15px;
}
