* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.outer-cont {
    background: rgb(233, 101, 101);
    border: 3px dashed black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*need width and height to create a square*/
.square {
    background: rgb(175, 180, 8);
    width: 150px;
    height: 150px;
    margin: 15px;
}

.inner.cont{
    border: 2px solid cornflowerblue;
}

/*Need width, height, and border-radius to create a circle*/
.circle{
    background-color: greenyellow;
    width: 120px;
    height: 140px;
    border-radius: 80%; /*circle requires radius*/
    margin: 15px;
}


