html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.cont {
    width: 50%; /*50% of width of screen for outer & 1/2 that for inner*/
    height: 50%; /*50% of height of screen & 1/2 that for inner*/
}

.outer {
    background: darkgray;
    height: 300px auto; /*doesn't look like this is applied - height is 50%*/
}

.inner {
    background: black;
}

